@model DevletDemirYollariProje.Models.Peronlar

@{
    ViewData["Title"] = "Edit";
}

<div style="margin-left:500px;">
    <h1 style="color:aqua">Peron Güncelleme</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PeronId" />
                <div class="form-group">
                    <label asp-for="PeronNumarasi" class="control-label"></label>
                    <input asp-for="PeronNumarasi" class="form-control" />
                    <span asp-validation-for="PeronNumarasi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PeronSayisi" class="control-label"></label>
                    <input asp-for="PeronSayisi" class="form-control" />
                    <span asp-validation-for="PeronSayisi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PeronMevki" class="control-label"></label>
                    <input asp-for="PeronMevki" class="form-control" />
                    <span asp-validation-for="PeronMevki" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PeronUzunluk" class="control-label"></label>
                    <input asp-for="PeronUzunluk" class="form-control" />
                    <span asp-validation-for="PeronUzunluk" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DurakSayisi" class="control-label"></label>
                    <input asp-for="DurakSayisi" class="form-control" />
                    <span asp-validation-for="DurakSayisi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Güncelle" class="btn btn-success" style="margin-top:10px;" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>